<launch>
  <arg name="config_yaml" value="$(find calib-extrinsic-targetless)/config/calib.yaml" />

  <node
    pkg="calib-extrinsic-targetless"    type="lidar_camera_calib"    name="lidar_camera_calib"    output="screen"  >
    <rosparam command="load" file="$(arg config_yaml)" />
  </node>

  <!-- <node
    pkg="rviz"
    type="rviz"
    name="rviz"
    args="-d $(find livox_camera_calib)/rviz_cfg/calib.rviz"
  /> -->
</launch>